.header {
    @apply h-28;
}

.logo {
    @apply h-24;
}

.train-arrival {
    @apply h-28;
}

.line-buttons {
    @apply h-20;
}

.station-btn {
    @apply py-1 px-2 rounded text-xs min-h-8;
}

.nav {
    @apply fixed h-16;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}

#app {
    margin: auto;
}

.small-text {
    @apply text-xs;
}

.normal-text {
    @apply text-sm;
}

.h-large-text {
    @apply text-3xl;
}

.h-mid-text {
    @apply text-2xl;
}

@media (orientation: landscape) {
    #app {
        width: 800px;
    }

    .nav {
        width: 800px;
    }
}

@media (orientation: portrait) {
    #app {
        width: 100%;
    }

    .nav {
        width: 100%;
    }
}

@keyframes vibration {
    from {
        transform: rotate(0.4deg);
    }
    to {
        transform: rotate(-0.4deg);
    }
}

/* 호선별 배경색 및 테두리 색상 정의 */
.bg-lineColors-1호선 {
    background-color: #0052a4;
} /* 파란색 */
.bg-lineColors-2호선 {
    background-color: #00a84d;
} /* 녹색 */
.bg-lineColors-3호선 {
    background-color: #ef7c1c;
} /* 주황색 */
.bg-lineColors-4호선 {
    background-color: #00a5de;
} /* 하늘색 */
.bg-lineColors-5호선 {
    background-color: #996cac;
} /* 보라색 */
.bg-lineColors-6호선 {
    background-color: #cd7c2f;
} /* 갈색 */
.bg-lineColors-7호선 {
    background-color: #747f00;
} /* 연두색 */
.bg-lineColors-8호선 {
    background-color: #e6186c;
} /* 분홍색 */

.border-lineColors-1호선 {
    border-color: #0052a4;
} /* 파란색 테두리 */
.border-lineColors-2호선 {
    border-color: #00a84d;
} /* 녹색 테두리 */
.border-lineColors-3호선 {
    border-color: #ef7c1c;
} /* 주황색 테두리 */
.border-lineColors-4호선 {
    border-color: #00a5de;
} /* 하늘색 테두리 */
.border-lineColors-5호선 {
    border-color: #996cac;
} /* 보라색 테두리 */
.border-lineColors-6호선 {
    border-color: #cd7c2f;
} /* 갈색 테두리 */
.border-lineColors-7호선 {
    border-color: #747f00;
} /* 연두색 테두리 */
.border-lineColors-8호선 {
    border-color: #e6186c;
} /* 분홍색 테두리 */

.vibration-infinite {
    animation: vibration 0.1s infinite;
}

.vibration-3 {
    animation: vibration 0.1s 3;
}
